{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{> back-button}}
    </header>
    <form class="page__section">
        <h1 class="page__title">Підтвердження пошти</h1>
        <p class="page__subtitle">На вашу пошту надіслано код для підтвердження облікового запису. Введіть його сюди</p>
        <div class="form">
            <div class="form__item">
                {{> field action="signupConfirmForm.change" label="Код" placeholder="Ваш код" type="number"
                name="code" }}
                <span name="code" class="form__error">Помилка</span>
            </div>
        </div>

        <button onclick="signupConfirmForm.submit()" type="button" class="button button--disabled">Підтвердити</button>

        <span class="alert alert--disabled">Error</span>

        <span class="link__prefix">Забули код? <a href="/signup-confirm" id="renew" class="link">Відправити</a></span>

    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}