@use '../../style' as s;

.field--select {
	.field__select {
		border: 1px solid s.color('box');
		background: s.color('box');
		padding: s.space(4);
		border-radius: 10px;
		display: flex;
		gap: s.space(2);
		align-items: center;
		cursor: pointer;
		transition: border-color 0.3s;
		position: relative;
	}


	.field__value {
		font-size: 14px;
		color: s.color('dark');
		&--placeholder {
			color: s.color(light);
		}
	}

	.field__container {
		display: grid;
		position: relative;
	}

	.field__container:hover {
		.field__select {
			border-color: s.color(gray);
		}
	}

	.field__label--select {
		font-size: 16px;
		color: s.color('dark');
	}

	.field__icon {
		display: block;
		width: 20px;
		height: 20px;
		background-image: url('/svg/select.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;

		position: absolute;
		right: s.space(4);
		top: calc(50% - 10px);
	}

	.field__option-list {
		padding: s.space(4);
		display: none;
		border: 1px solid s.color('box');
		border-radius: 10px;
		overflow: scroll;
		background: s.color('background');
		max-height: 160px;
		z-index: 1;

		.field__option {
			@include s.click();

			&:not(:last-of-type) {
				padding-bottom: s.space(4);
			}
			transition: color 0.3s;

			&[active] {
				color: s.color('main');
				&:hover {
					opacity: 1;
				}
			}
		}

		&[active] {
			display: block;
		}

		position: absolute;
		top: 100%;
		right: 0px;
		width: 100%;
	}

	.field__input--disabled {
		display: none;
	}
}