<div class="field field--checkbox">

	<button onclick="
	fieldCheckbox.toggle(this);
	{{action}}('{{name}}', this.hasAttribute('action'));
	" type="button" class="field__wrapper">
		<span class="field__icon"></span>

		<span class="field__label field__label--checkbox">{{label}}</span>
	</button>

</div>