{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{> back-button}}
    </header>
    <form class="page__section">
        <h1 class="page__title">Відновлення паролю</h1>
        <div class="form">
            <div class="form__item">
                {{> field action="recoveryForm.change" label="Ел. адреса" placeholder="Ваш email" type="email"
                name="email" }}
                <span name="email" class="form__error">Помилка</span>
            </div>

        </div>

        <button onclick="recoveryForm.submit()" type="button" class="button button--disabled">Відновити пароль</button>

        <span class="alert alert--disabled">Error</span>
    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}